@font-face {
    font-family: "Nunito";
    src: url(../public/fonts/Nunito-Regular.woff) format("woff"),
         url(../public/fonts/Nunito-Regular.ttf) format("truetype");
}

#tooltip {
	background-color: #333333;
	position: absolute;
	box-sizing: content-box;
	padding: 6px 6px 0px 6px;
	display: none;
	border-radius: 6px;
	z-index: 100000001;
}

#tooltipButtons {
	list-style-type:  none;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#highlightTooltip {
	padding: 0px 5px 0px 0px;
	margin: 0px;
	display: inline;
}

#noteTooltip {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#noteTextBox {
	font-family: "Nunito", sans-serif;
	background-color: #555555;
	color: white;	
	border: none;
	border-radius: 2px;
	width: 100%;
	margin-bottom: 5px;
}

#saveNoteButton {
	background-color: #555555;
	font-family: "Nunito", sans-serif;
	margin: 0 0 0 2px;
	-webkit-box-shadow: none;
	text-shadow: none;
	box-shadow: none;
	color: white;
	text-decoration: none;
	cursor: pointer;
	border: 0;
	padding: .5em 1.25em;
	border-radius: 5px;
}

#cancelNoteButton {
	background-color: #666666;
	font-family: "Nunito", sans-serif;
	margin: 0 2px 0 0;
	-webkit-box-shadow: none;
	text-shadow: none;
	box-shadow: none;
	color: white;
	text-decoration: none;
	cursor: pointer;
	border: 0;
	padding: .5em 1.25em;
	border-radius: 5px;
}

#notePrompt {
	background-color: #888888;
	position: absolute;
	padding: 1em;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	border-radius: 6px;
	z-index: 200000001;
}